@page
@{

    ViewData["Title"] = "Startsida";

}
<h1>Startsida</h1>

<p>Löksås ipsum jäst blivit sax genom blivit händer omfångsrik stora, vi är vad tidigare att samtidigt sista ser, lax smultron dimmhöljd fram räv som bäckasiner är. Annat och äng kanske smultron björnbär sällan kan, lax sjö annan av björnbär blev om, hans för precis björnbär ser det. Sig hans hwila sjö ordningens bäckasiner oss söka har samtidigt flera bäckasiner, både hav ännu plats ser ingalunda lax hans vid gör, nu stig det helt där stora strand hav söka häst.</p>

<h3>Om du vill ändra bakgundsfärgen, klicka på någon utav knapparna nedan:</h3>
<button type="button" onclick="changeBodyBg('rgb(233, 196, 106)');">Gul</button>
<button type="button" onclick="changeBodyBg('rgb(67, 170, 139)');">Grön</button>
<button type="button" onclick="changeBodyBg('rgb(248, 150, 30)');">Orange</button>