body {
    background-color:beige;
   
}

header {
    width:100%;
    margin:5px;
    height: 100px;
    display:flex;
    background-color:white;
    flex-direction:row;
    justify-content:space-between;
    padding:10px;
    align-items: center;
    background-color:white;
}

.logo {
    background-color: white;
    height: 100%;
    width:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    border: 2px solid black;
}
.date {
    padding-right:10px;
    padding-left:10px;
    background-color: white;
    height: 40px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
main {
    display: flex;
    flex-direction: row;
    padding: 5px;
    min-height:100vh;
}
.sidebar {
    background-color: white;
    width: 20%;
    margin-right:10px;
    height: 100%;
    min-height: 100vh;
}
.main-container {
    background-color:white;
    width:70%;
    padding:5%;

}
footer {
    width:100%;
    background-color:white;
    text-align:center;
    padding:5px;
}
ul {
    padding-inline-start: 0px;
}

li {
    text-decoration: none;
    list-style: none;
    width: 200px;
    margin: auto;
    height: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    border: 2px solid black;
    margin-top: 50px;
}
a {
    text-decoration: none;
    list-style: none;

}


