<h3>Component1</h3>
<header>
    <div class="logo"> <h1>Logo</h1></div>
    <div class="date"> <p>Dagens datum är: @date</p> <br /> <p>@message</p></div>
</header>
@code {

    var date = DateTime.now;
    var message;
    if(date.DayOfWeek == DayOfWeek.Monday){
    message = "Idag är det måndag";
    }
    else{
    message = "Idag är det måndag";
    }
}

